# macOS
.DS_Store

# Xcode 
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Xcode Workspace 
*.xcworkspace/xcuserdata/

# Build e cache
DerivedData/
build/


.DS_Store
GloboPlayChallenge.xcodeproj/project.xcworkspace/xcshareddata/
